body {
    background-color: #f8f9fa!important;
    font-size: .875rem;
    line-height: 16px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.key-value-box .row {
    margin-bottom: 12px;
}

.key-value-box .col, .key-value-box .col-2 {
    padding: 0px;
}

.key-value-box .container {
    margin: 0px;
}

#login {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
}

.address-tag {
    width: 132px;
    display: inline-block;
    vertical-align: bottom;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.input-data {
    width: 100%;
    font-size: small;
    font-family: Monospace;
    padding: 8px;
    background-color: #EEEEEE;
}

.code-block {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .125);
    font-family: Inconsolata, Monaco, Andale Mono, Lucida Console, Bitstream Vera Sans Mono, Courier New, Courier, monospace!important;
    overflow-x: auto;
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    color: #383a42;
    background: rgba(0, 0, 0, .03);
}

.code-block-for-address {
    margin-bottom: 2px;
}

.font-for-address {
    font-family: Inconsolata, Monaco, Andale Mono, Lucida Console, Bitstream Vera Sans Mono, Courier New, Courier, monospace!important;
}

.brand-subtitle {
    font-size: 0.7rem;
    color: lightgray;
}

.simple-game-status {
    border: 1px solid #ced9e4;
    border-left-width: 3px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}
