<div id="nav">
	<nav id="nav" class="navbar navbar-dark bg-info navbar-expand-md">
		<button type="button" aria-label="Toggle navigation" aria-controls="nav_collapse" aria-expanded="false" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
		<a href="/" target="_self" class="navbar-brand">XMAX<span class="brand-subtitle">beta</span></a>
		<div id="nav_collapse" class="navbar-collapse collapse" style="display: none;">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="<{:U('index/explorer')}>" target="_self" class="nav-link ">Blocks</a></li>
				<li class="nav-item"><a href="<{:U('index/fylist')}>" target="_self" class="nav-link">Stats</a></li>
				<li class="nav-item"><a href="<{:U('index/paylist')}>" target="_self" class="nav-link">Transactions</a></li>
				<li class="nav-item"><a href="<{:U('index/account')}>" target="_self" class="nav-link">Accounts</a></li>
			</ul>
			<!-- <ul class="navbar-nav ml-auto">
				<li id="__BVID__4" class="nav-item b-nav-dropdown dropdown" title="" data-original-title="Pick the cluster to connect">
					<a href="#" id="__BVID__4__BV_button_" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle"><span>Cluster: 35.155.169.253:38291</span></a>
					<div aria-labelledby="__BVID__4__BV_button_" class="dropdown-menu dropdown-menu-right">
						<a role="menuitem" href="#" target="_self" class="dropdown-item">35.155.169.253:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">34.219.75.227:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">13.250.13.230:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">18.130.95.207:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">34.209.241.68:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">52.59.225.54:38291</a>
						<a role="menuitem" href="#" target="_self" class="dropdown-item">54.204.87.153:38291</a>
					</div>
				</li>
			</ul> -->
		</div>
	</nav>
	</div>