<style>
#search .row{margin-left:1.5px;}
.lable{background-color: #17a2b8;color: #fff;margin-right: 13px;padding: 7px 8px;border-radius: 3px;cursor:pointer;}
</style>
 <div id="search" class="card mb-3">
  <div class="card-body">
	<form action="<{:U('index/search')}>" method="post" id="serach">
	<div role="group" class="input-group">
	<input id="query" type="text" required="required" name="key" placeholder="Example query: &#39;19&#39; for  blook num 19; &#39;xmax&#39; for account name; or search block id / tx id / message id" aria-required="true" value="<{$keys}>" class="form-control" />
	<input type="hidden" name="keys" value="<{$keys}>" />
	<input type="hidden" name="p" value="<{$p}>" />
	<input type="hidden" name="type" value="<{$type}>" />
	<div class="input-group-append submit"><button id="search_button" type="button" class="btn btn-primary">Search</button></div>
	</div>
	</form>
	
	<div class="row">
		<notempty name="blocks_num"><div tp="Blocks" <eq name="type" value="Blocks">style="background-color:#ccc;"</eq> class="lable">Blocks(<{$blocks_num}>)</div></notempty>
		<notempty name="messages_num"><div tp="Messages" <eq name="type" value="Messages">style="background-color:#ccc;"</eq> class="lable">Messages(<{$messages_num}>)</div></notempty>
		<notempty name="transactions_num"><div tp="Transactions" <eq name="type" value="Transactions">style="background-color:#ccc;"</eq> class="lable">Transactions(<{$transactions_num}>)</div></notempty>
		<notempty name="accounts_num"><div tp="Accounts" <eq name="type" value="Accounts">style="background-color:#ccc;"</eq> class="lable">Accounts(<{$accounts_num}>)</div></notempty>
	</div>
  </div>
  </div>

<script >
window.onload = function () { 
	
	$(".row .lable").click(function(){
		$("input[name='type']").val($(this).attr('tp'));
		$("input[name='p']").val(1);
		$('#search_button').click();
	});

	$('#query').bind('keyup', function(event) {
        if (event.keyCode == "13") {
            //回车执行查询
            $('#search_button').click();
        }
    });
 
	$('.submit').click(function(){
		var key = $("input[name='key']").val();
		var keys = $("input[name='keys']").val();
		if(key != keys){
			$("input[name='keys']").val(key);
			$("input[name='p']").val(1);
			$("input[name='type']").val('');
		}
		
		$('#serach').submit();
		/* var info = $("#query").val();
		$.post("<{:U('Index/query')}>",{data:info},function(rr){
			var r = rr.list;
			if(rr.type == 1){
				var str = '<div class="row"><div class="col-sm-3">Name: </div><div class="col-sm-9"><a href="'+r.url+'">'+r.name+'</a></div></div><div class="row"><div class="col-sm-3">Created Time: </div> <div class="col-sm-9"><a href="javascript:void(0);">'+r.createdTimes+'</a></div></div>';
					$('#block').show();
					$('.container').html(str);
					$('.titles').html('Accounts');
			}else if(rr.type == 2){
				var str = '<div class="row"><div class="col-sm-3">Transaction ID: </div><div class="col-sm-9"><a href="'+r.url+'">'+r.transaction_id+'</a></div></div><div class="row"><div class="col-sm-3">Transaction Index: </div> <div class="col-sm-9"><a style="display:none;" href="javascript:void(0);"> &lt; prev</a> '+r.transaction_index+'<a  style="display:none;" href="/block/0/'+(r.block_num-1)+'">next &gt;</a></div></div><div class="row"><div class="col-sm-3">Block ID: </div> <div class="col-sm-9"><a href="javascript:void(0);">'+r.block_id+'</a></div></div><div class="row"><div class="col-sm-3">Expiration: </div> <div class="col-sm-9">'+r.expiration+'</div></div>';
					$('#block').show();
					$('.container').html(str);
					$('.titles').html('Transactions');
			}else if(rr.type == 3){
				if(r.block_id){
					var str = '<div class="row"><div class="col-sm-3">ID: </div><div class="col-sm-9"><a href="javascript:void(0);">'+r.block_id+'</a></div></div><div class="row"><div class="col-sm-3">Height: </div> <div class="col-sm-9"><a style="display:none;" href="javascript:void(0);"> &lt; prev</a> '+r.block_num+'<a  style="display:none;" href="/block/0/'+(r.block_num-1)+'">next &gt;</a></div></div><div class="row"><div class="col-sm-3">Parent ID: </div> <div class="col-sm-9"><a href="javascript:void(0);">'+r.prev_block_id+'</a></div></div><div class="row"><div class="col-sm-3">Timestamp: </div> <div class="col-sm-9">'+r.timestamps+' </div></div><div class="row"><div class="col-sm-3">Builder: </div> <div class="col-sm-9"><a href="javascript:void(0);">'+r.builder_account_name+'</a></div></div><div class="row"><div class="col-sm-3">Transaction Merkle Root: </div> <div class="col-sm-9">'+r.transaction_merkle_root+'</div></div>';
					$('.container').html(str);
				}else{
					var str = '<div class="row" style="color:#856404;background-color:#fff3cd;border-color:#ffeeba;line-height:36px;"><div class="col-sm-12">Nothing is found for your query</div></div>';
					$('.container').html(str);
				}
				$('#block').show();
				$('.titles').html('Block');
			}
		  },'json'); */
	});
	
 }
</script>