<include file="common/headr" />

<body>
	<include file="common/nav" />

  <div id="admin_accounts" style="display: none" data=""></div>

  

  <div id="content" class="p-3 w-100 mx-auto mw-75" style="max-width: 1120px">

    <div id="alert"><!----></div>
 <include file="common/search" />
	<div id="block" style="display:none;">
		<div class="card key-value-box">
			<div class="card-body"><h4 class="card-title titles">Block</h4><hr>
				<div class="container">
					
				</div>
			</div>
		</div>
	</div>

<script>
$(function(){
	$('.navbar-nav').find("a").removeClass('active');
	$('.navbar-nav li').eq(4).find("a").addClass('active');
 });
</script>




<div id="data" style="display: none" data="{&quot;type&quot;: &quot;init&quot;}"></div>

	<div id="account">
		
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title">Accounts</h4>
				<div class="table-responsive">
				<table id="__BVID__17" role="table" aria-busy="false" aria-colcount="8" aria-rowcount="15" class="table b-table table-hover b-table-stacked-sm"><!----><!---->
					<thead class="">
						<tr>
							<th aria-colindex="1" class="">Name</th>
							<!-- <th aria-colindex="2" class="">xmx_token</th> -->
							<!-- <th aria-colindex="3" class="">staked_token</th> -->
							<!-- <th aria-colindex="4" class="">unstaking_token</th> -->
							<th aria-colindex="5" class="">Created Time</th>							
						</tr>
					</thead><!---->
					<tbody role="rowgroup" class=""><!---->
					<notempty name="list">
					<volist name="list" id="vo">
						<tr role="row" class="">
							<td aria-colindex="1" data-label="name" role="cell" class=""><div><a href="<{:U('index/address',array('name'=>$vo['name']))}>" target="_self" class="address-tag"><{$vo.name}></a></div></td>
							<!-- <td aria-colindex="2" data-label="xmx_token" role="cell" class=""><div><font class="text-success"><{$vo.xmx_token}></font></div></td> -->
							<!-- <td aria-colindex="3" data-label="staked_token" role="cell" class=""><div><a href="javascript:void(0);" target="_self" class="address-tag"><{$vo.staked_token}></a></div></td> -->
							<!-- <td aria-colindex="4" data-label="unstaking_token" role="cell" class=""><div><{$vo.unstaking_token}></div></td> -->
							<td aria-colindex="5" data-label="createdTime" role="cell" class=""><div><{$vo.createdTimes}></div></td>
						</tr>
					</volist>
					</notempty>
					</tbody>
				</table>
				</div>
				<div id="page"><{$page}></div>
			</div>
		</div>
	</div>

  </div>



</body></html>