<include file="common/headr" />

<body>
	<include file="common/nav" />

  <div id="admin_accounts" style="display: none" data=""></div>

  

  <div id="content" class="p-3 w-100 mx-auto mw-75" style="max-width: 1120px">

    <div id="alert"><!----></div>
 <include file="common/search" />
	<div id="block" style="display:none;">
		<div class="card key-value-box">
			<div class="card-body"><h4 class="card-title titles">Block</h4><hr>
				<div class="container">
					
				</div>
			</div>
		</div>
	</div>

<script>
$(function(){
	$('.navbar-nav').find("a").removeClass('active');
	$('.navbar-nav li').eq(3).find("a").addClass('active');
 })
</script>




<div id="data" style="display: none" data="{&quot;type&quot;: &quot;init&quot;}"></div>

	
	<div id="account">
		<div class="card key-value-box mb-3">
			<div class="card-body">
				<h4 class="card-title">Account</h4><hr>
				<div class="container">
					<div class="row"><div class="col-sm-4">name: </div> <div class="col-sm-8"><{$data.name}></div></div>
					<!-- <div class="row"><div class="col-sm-4">xmx_token: </div> <div class="col-sm-8"><{$data.xmx_token}></div></div>
					<div class="row"><div class="col-sm-4">staked_token: </div> <div class="col-sm-8"><{$data.staked_token}></div></div>
					<div class="row"><div class="col-sm-4">unstaking_token: </div> <div class="col-sm-8"><{$data.unstaking_token}></div></div> -->
					<div class="row"><div class="col-sm-4">createdTime: </div> <div class="col-sm-8"><{$data.createdTimes}></div></div>
				</div>
			</div>
		</div>
		
	</div>
	
	
	

  </div>



</body></html>