<include file="common/headr" />
<body>
	<include file="common/nav" />
	
	<script>
	window.onload = function () { 
	$('.navbar-nav').find("a").removeClass('active');
	$('.navbar-nav li').eq(1).find("a").addClass('active');
	}
	</script>

  <div id="admin_accounts" style="display: none" data=""></div>

  

  <div id="content" class="p-3 w-100 mx-auto mw-75" style="max-width: 1120px">

    <div id="alert"><!----></div>
	<div id="fullStats">
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title">Block</h4>
				<table id="__BVID__11" role="table" aria-busy="false" aria-colcount="7" class="table b-table table-hover b-table-stacked-sm" aria-rowcount="64"><!----><!---->
				<thead class="">
				<tr>
					<th aria-colindex="1" class="">ID</th>
					<th aria-colindex="2" class="">Height</th>
					<th aria-colindex="3" class="">Timestamp</th>
					<!-- <th aria-colindex="4" class="">Parent ID</th> -->
					<th aria-colindex="5" class="">Builder</th>
					<!-- <th aria-colindex="6" class="">transaction_merkle_root</th> -->
					
				</tr>
				</thead><!---->
				<tbody role="rowgroup" class=""><!---->
					<volist name="list" id="vo">
					<tr role="row" class="">
						<td aria-colindex="1" data-label="ID" role="cell" class=""><div><{$vo.block_id}></div></td>
						<td aria-colindex="2" data-label="Height" role="cell" class=""><div><a href="<{:U('index/explorer',array('block'=>$vo['block_num']))}>"><{$vo.block_num}></a></div></td>
						<td aria-colindex="3" data-label="Timestamp" role="cell" class=""><div><{$vo.timestamps}></div></td>
						<!-- <td aria-colindex="4" data-label="Parent ID" role="cell" class=""><div><{$vo.prev_block_id}></div></td> -->
						<td aria-colindex="5" data-label="builder" role="cell" class=""><div><{$vo.builder_account_name}></div></td>
						<!-- <td aria-colindex="6" data-label="transaction_merkle_root" role="cell" class=""><div><{$vo.transaction_merkle_root}></div></td> -->
					</tr>
					</volist>
				</tbody>
				</table>
			</div>
			<div id="page">
				<{$page}>
			</div>
		</div>
	</div>

  </div>



</body></html>