<include file="common/headr" />

<body>
	<include file="common/nav" />

  <div id="admin_accounts" style="display: none" data=""></div>

  

  <div id="content" class="p-3 w-100 mx-auto mw-75" style="max-width: 1220px">

    <div id="alert"><!----></div>
  <div id="search" class="card mb-3" style="display:none;">
  <div class="card-body">
  <form>
	<div role="group" class="input-group">
	<input id="query" type="text" required="required" placeholder="Example query: &#39;19&#39; for root block 19; &#39;3/10&#39; for shard block 10 on shard 3; or search address / block id / tx id" aria-required="true" value="<{$keys}>" class="form-control">
	<div class="input-group-append submit"><button type="button" class="btn btn-primary">Search</button></div>
	</div>
  </form>
  </div>
  </div>

<script>
 $(function(){
	$('.submit').click(function(){
		var info = $("#query").val();
		$.post("<{:U('Index/query')}>",{data:info},function(r){
			
			if(r.block_id){
				var str = '<div class="row"><div class="col-sm-3">ID: </div><div class="col-sm-9"><a href="javascript:void(0);">'+r.block_id+'</a></div></div><div class="row"><div class="col-sm-3">Height: </div> <div class="col-sm-9"><a style="display:none;" href="javascript:void(0);"> &lt; prev</a> '+r.block_num+'<a  style="display:none;" href="/block/0/'+(r.block_num-1)+'">next &gt;</a></div></div><div class="row"><div class="col-sm-3">Parent ID: </div> <div class="col-sm-9"><a href="/block/'+r.prev_block_id+'">'+r.prev_block_id+'</a></div></div><div class="row"><div class="col-sm-3">Timestamp: </div> <div class="col-sm-9">'+r.timestamps+' </div></div><div class="row"><div class="col-sm-3">builder: </div> <div class="col-sm-9"><a href="/address/'+r.builder_account_name+'">'+r.builder_account_name+'</a></div></div><div class="row"><div class="col-sm-3">transaction_merkle_root: </div> <div class="col-sm-9">'+r.transaction_merkle_root+'</div></div>';
				$('.container').html(str)
			}else{
				var str = '<div class="row" style="color:#856404;background-color:#fff3cd;border-color:#ffeeba;line-height:36px;"><div class="col-sm-12">Nothing is found for your query</div></div>';
				$('.container').html(str)
			}
		  },'json');
	})
	
	$('.navbar-nav').find("a").removeClass('active');
	$('.navbar-nav li').eq(2).find("a").addClass('active');
 })
</script>




<div id="data" style="display: none" data="{&quot;type&quot;: &quot;init&quot;}"></div>

	
	<div id="account">
		
		<div class="card mt-3">
			<div class="card-body">
				<h4 class="card-title">Transactions</h4>
				<table id="__BVID__17" role="table" aria-busy="false" aria-colcount="8" aria-rowcount="15" class="table b-table table-hover b-table-stacked-sm"><!----><!---->
					<thead class="">
						<tr>
							<th aria-colindex="1" class="">transaction_id</th>
							<th aria-colindex="2" class="">transaction_index</th>
							<th aria-colindex="3" class="">block_id</th>
							<th aria-colindex="4" class="">ref_block_num</th>
							<th aria-colindex="5" class="">ref_block_prefix</th>
							<th aria-colindex="6" class="">expiration</th>
							<th aria-colindex="7" class="">messages</th>
							<th aria-colindex="8" class="">scope</th>
							<th aria-colindex="9" class="">signatures</th>
						</tr>
					</thead><!---->
					<tbody role="rowgroup" class=""><!---->
					<notempty name="list">
					<volist name="list" id="vo">
						<tr role="row" class="">
							<td aria-colindex="1" data-label="transaction_id" role="cell" class=""><div><a href="javascript:void(0);" target="_self" class="address-tag"><{$vo.transaction_id}></a></div></td>
							<td aria-colindex="2" data-label="transaction_index" role="cell" class=""><div><font class="text-success"><{$vo.transaction_index}></font></div></td>
							<td aria-colindex="3" data-label="block_id" role="cell" class=""><div><a href="javascript:void(0);" target="_self" class="address-tag"><{$vo.block_id}></a></div></td>
							<td aria-colindex="4" data-label="ref_block_num" role="cell" class=""><div><{$vo.ref_block_num}></div></td>
							<td aria-colindex="5" data-label="ref_block_prefix" role="cell" class=""><div><{$vo.ref_block_prefix}></div></td>
							<td aria-colindex="6" data-label="expiration" role="cell" class=""><div><{$vo.expirations}></div></td>
							<td aria-colindex="7" data-label="messages" role="cell" class=""><div><a href="<{:U('index/message',array('id'=>$vo['messagess'][0]))}>" target="_self" class="address-tag"><{$vo.messagess.0}></a></div></td>
							<td aria-colindex="8" data-label="scope" role="cell" class=""><div><{$vo.scope.0}></div></td>
							<td aria-colindex="9" data-label="signatures" role="cell"><div class="address-tag"><{$vo.signatures.0}></div></td>
						</tr>
					</volist>
					</notempty>
					</tbody>
				</table>
				<div id="page"><{$page}></div>
			</div>
		</div>
	</div>
	
	
	

  </div>



</body></html>